* {
    margin: 0;
    padding: 0;
    text-align: center;
}
nav {
    display: flexbox;
    position: fixed;
    margin: 0;
    background-color: black;
    width: 100%;
}
#menu {
    display: flexbox;
    position: relative;
    text-decoration: none;
    margin: 1rem;
}
li {
    display: inline;
    margin: 1rem;
    color: orangered;
    font-size: 1rem;
}