* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background-color: white;
    color: #1f1f1f;
}
.container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    text-align: center;
}
.projeto {
    background-color: #cecece;
    border: 0.125rem solid #ddd;
    border-radius: 0.8rem;
    box-shadow: 0 0.25rem 0.50rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 0.25rem;
    max-width: 38rem;
    flex: 1 1 calc(200px - 1rem);
}
.sessao {
    text-align: center;
    color: white;
}
header {
    text-align: center;
    display: inline-flex;
}
#logo {
    display: flex;
    position: relative;
}
li {
    display: inline-block;
    position: relative;
    margin-left: 1rem;
    margin-top: 1rem;
}