@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}
header {
    position: static;
    background-color: #1f1f1f;
    color: white;
}
#logo {
    display: flex;
    position: absolute;
    margin: 0.5rem;
    left: 5rem;
}
nav {
    text-align: center;
}
li {
    text-decoration: none;
    display: inline-flex;
    margin: 0.8rem;
    transition: 0.5s;
}
li:hover {
    color: orange;
    transform: translateY(-5px);
    transition: 0.5s;
}