@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
:root {
    --primaria:#1F1F1F;
    --secundaria:#FFD54B;
    --fundo:#FFFEE7;
    --botao:#3B002A;
    --texto:#ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}
body {
    background-color: var(--fundo);
}
header {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    background-color: var(--primaria);
    color: var(--texto);
    top: 0;
}
#logo {
    display: flex;
    position: absolute;
    margin: 0.5rem;
    left: 5rem;
    color: var(--secundaria);
}
nav {
    text-align: center;
}
li {
    text-decoration: none;
    display: inline-flex;
    margin: 0.8rem;
    transition: 0.5s;
}
a {
    text-decoration: none;
    transition: 0.2s;
}
a:hover {
    color: var(--secundaria);
    transform: translateY(-2px);
    transition: 0.2s;
}
:visited {
    color: white;
}
#sections {
    scroll-margin-top: 70px;
    margin-top: 5rem;
}